<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kong">
    <select id="selAll" resultType="pojo.User">
        select  * from tb_users
    </select>
    <select id="selOne" resultType="pojo.User">
        select * from tb_users where id=1
    </select>
    <select id="count" resultType="Integer">
        select count(*) from tb_users
    </select>
    <select id="selBaseType" resultType="pojo.User" parameterType="java.lang.Integer">
        select  * from tb_users where id=#{id}
    </select>
    <select id="selByMap" resultType="pojo.User">
        select  * from tb_users where username=#{username} and password=#{password}
    </select>
<!--    <select id="selByObject" resultType="pojo.User">-->
<!--        select  * from tb_users where username=#{username} and password=#{password}-->
<!--    </select>-->
    <select id="selByObject" resultType="pojo.User">
        select  * from tb_users where username='${username}' and password='${password}'
    </select>
    <insert id="insertUser" >
        insert into tb_users values(default,#{username},#{password},#{realname},#{age}
        ,#{birthday},#{regTime})
    </insert>
    <update id="updateUser">
        update tb_users set password=#{password} where id=#{id}
    </update>
    <delete id="deleteUser">
        delete from tb_users where id=#{id}
    </delete>
</mapper>